[submodule "libultraship"]
	path = libultraship
	url = https://github.com/buddingmonkey/libultraship.git
	branch = mobile-xr-port
[submodule "torch"]
	path = torch
	url = https://github.com/buddingmonkey/Torch.git
	branch = torch/segment-macro-collision
